{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="limiter">
	<div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %})">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
			<form class="login100-form validate-form" action="{% url 'reset-user-password' uidb64 token %}" method="POST">
				{% csrf_token %}
				<span class="login100-form-title p-b-49">
					New Password
				</span>


				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<span class="label-input100">Password</span>
					<input class="input100" type="password" name="password" placeholder="Type your password" onchange="form.repwd.pattern=this.value">

					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<span class="label-input100">Confirm password</span>
					<input class="input100" type="password" name="repwd" pattern="" required placeholder="Type your password again">

					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>

				<div class="text-right p-t-8 p-b-31"></div>
				
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn">
							Submit
						</button>
					</div>
				</div>

{% for i in messages %}

	{{ i }}

{% endfor %}


			</form>
		</div>
	</div>
</div>


<div id="dropDownSelect1"></div>
{% endblock %}