<!doctype html>
{% load static %}

<html class="no-js" lang="zxx">


<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shop | AIMARENA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'images/favicon.ico' %}" type="img/x-icon" rel="shortcut icon">
    <script src="https://kit.fontawesome.com/baf7f11007.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/gamecss/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/qanto.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/bauhaus93.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/helper.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/style.css' %}">
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'js/gamejs/shop.js' %}"></script>

    <style>
        .shop {
            background-image: url("{% static 'images/bg-01.jpg' %}");
        }
    </style>
</head>

<body class="shop">

    <div id="main-wrapper">
        <header class="header header-static bg-black header-sticky">
            <div class="default-header menu-right">
                <div class="container container-1520">
                    <div class="row">
                        <div class="col-12 col-md-3 col-lg-3 order-md-1 order-lg-1 mt-20 mb-20">
                            <div class="logo">

                                <a href="{% url 'game' %}"><img src="{% static 'images/logo.png' %}" width="50%"
                                        alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 order-md-3 order-lg-2 d-flex justify-content-center">
                            <nav class="main-menu menu-style-2">
                                <ul>
                                    <li><a href="{% url 'game' %}">Home</a>

                                    </li>
                                    <li><a href="{% url 'forums:forumcategroies' %}">Forums</a>
                                    </li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-12 col-md-9 order-md-2 order-lg-3 col-lg-3">
                            <div class="header-right-wrap">
                                <ul>
                                    {% if request.session.Username %}




                                    <div class="account-info">
                                        <div class="dropdown" style="float:right;">
                                            <button class="fas fa-sort-down"
                                                style="color: #FF0042; background-color: transparent; border: none;"></button>
                                            <div class="dropdown-content">
                                                <a href="{% url 'forums:my_profile' %}">My profile</a>
                                                <a href="{% url 'signout' %}">Sign out</a>

                                            </div>
                                        </div>

                                        </i><span class="gameuser"><img style="border-radius: 50%;" width="20px"
                                                height="20px" src="{{ image.url }}">
                                            {{ request.session.Username }}</span>
                                        <h5 class="gameemail text-secondary">{{ request.session.Useremail }}</h5>

                                        {% else %}
                                        <li><a href="{% url 'signin' %}">LOGIN</a></li>
                                        <li><a href="{% url 'signup' %}">REGISTER</a></li>
                                        {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex d-lg-none">
                            <div class="mobile-menu">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="wrapper">


            <div class="inner">


                <div class="containter-fluid text-center">

                    <h1 class="display-4 mb-0 ">Trade your forum points for new content</h1>
                    <p class="lead">New Targets and Pointers will regularly be added.</p>


                </div>




            </div>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div style=" background-color: #252525;" class="modal-content">
                        <div class="container-fluid">
                            <div class="pre-loader">
                                <div class="sk-fading-circle">
                                    <div class="sk-circle1 sk-circle"></div>
                                    <div class="sk-circle2 sk-circle"></div>
                                    <div class="sk-circle3 sk-circle"></div>
                                    <div class="sk-circle4 sk-circle"></div>
                                    <div class="sk-circle5 sk-circle"></div>
                                    <div class="sk-circle6 sk-circle"></div>
                                    <div class="sk-circle7 sk-circle"></div>
                                    <div class="sk-circle8 sk-circle"></div>
                                    <div class="sk-circle9 sk-circle"></div>
                                    <div class="sk-circle10 sk-circle"></div>
                                    <div class="sk-circle11 sk-circle"></div>
                                    <div class="sk-circle12 sk-circle"></div>
                                </div>
                            </div>



                            <div class="checkout-cart-total">

                                <h3 class="text-center text-light">Are you sure you want to purchase this item ?</h3>
                            </div>

                            <p id="productname" class="text-center text-light"> </p>


                            <center>

                                <button id="purchasebtn" value="" class="btn btn-primary">Purchase </button></center>
                            <br>
                        </div>

                    </div>

                </div>
            </div>
            <div id="snackbar"></div>
            <!--Gallery Area Start-->


            <div class="gallery-area section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50">
                <div class="container">

                    <div class="wrapper">
                        <div class="inner">
                            {% if request.session.userid %}
                            {% for i in userdetails %}
                            <p class="lead text-center">Your Points: </b><span id="points"> {{ i.forumpoints }}</span>
                                points</b></p>
                            {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                    <br>


                    <div class="row">
                        {% for i in products %}

                        <div class="col-lg-3 col-md-8">

                            <div class="single-gallery mb-30" style="border: solid rgba(46, 46, 46, 0.561) 2px;">
                                <div class="gallery-image">
                                    <a class="gallery-popup" href="{{ i.product_image.url }}"><img
                                            src="{{ i.product_image.url }}" alt=""></a>
                                    <div class="gallery-hover text-center">
                                        <h4 class="mb-15">{{ i.product_name }}</h4><br>

                                        {% if request.session.userid %}
                                        <button type="button" class="btn btn-primary"
                                            onclick="showcheckoutmodal('{{ i.id }}' , '{{ i.product_name }}', '{{ i.product_price }}')">Purchase</button>
                                        {% endif %}
                                        <br>
                                        <p class="text-center text-light">({{ i.product_price }} points)</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>



                    <br><br>
                </div>
            </div>




            <footer class="footer-section style-2 section" style="background-color: #ff2828">


                <div class="footer-top section pt-80 pb-80">
                    <div class="container container-1520">
                        <div class="row justify-content-lg-between">


                            <div class="col-xl-3 col-lg-2 col-md-3">
                                <div class="footer-widget">
                                    <div class="footer-logo">

                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-9">
                                <div class="footer-widget">
                                    <div class="footer-nav">
                                        <nav class="text-center">

                                            <a href="https://www.facebook.com/aim.arena.3" class="fa fa-facebook"></a>
                                            <a href="https://twitter.com/AIMARENA1" class="fa fa-twitter"></a>
                                            <a href="https://www.instagram.com/aimarenaoffical/"
                                                class="fa fa-instagram"></a>
                                            <a href="https://www.youtube.com/channel/UCpzBnQcZkDuPoZqUudaFX8A"
                                                class="fa fa-youtube"></a>

                                        </nav><br>
                                        <div class="text-center text-light extra">
                                            <a href="{% url 'privacy' %}">Privacy Policy</a> &nbsp;|&nbsp; <a
                                                href="{% url 'terms' %}">Terms of Use </a> &nbsp;|&nbsp; <a
                                                href="{% url 'about' %}">About us </a>
                                        </div>
                                        <div class="copyright text-center text-muted">
                                            © 2021 AIMARENA. All Rights Reserved
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-12">
                                <div class="footer-widget">
                                    <div class="footer-social">

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>




            </footer>


        </div>


        <script>
            var csrftoken = '{{ csrf_token }}';
        </script>
</body>


</html>