<!DOCTYPE html>
{% load static %}
{% load staff_tags %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact us | AIMARENA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'images/favicon.ico' %}" type="img/x-icon" rel="shortcut icon">
    <script src="https://kit.fontawesome.com/baf7f11007.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/gamecss/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/qanto.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/bauhaus93.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/helper.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecss/style.css' %}">
    <script src="{% static 'js/gamejs/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>

    <div id="main-wrapper">
        <header class="header header-static bg-black header-sticky">
            <div class="default-header menu-right">
                <div class="container container-1520">
                    <div class="row">
                        <div class="col-12 col-md-3 col-lg-3 order-md-1 order-lg-1 mt-20 mb-20">
                            <div class="logo">
                                <a href="index.html"><img src="{% static 'images/logo.png' %}" width="50%" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 order-md-3 order-lg-2 d-flex justify-content-center">
                            <nav class="main-menu menu-style-2">
                                <ul>
                                    <li><a href="index.html">Home</a>

                                    </li>
                                    <li><a href="forum.html">Forums</a>
                                    </li>
                                   <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-12 col-md-9 order-md-2 order-lg-3 col-lg-3">
                            <div class="header-right-wrap">
                                <ul>
                                    <li><a href="http://127.0.0.1:8000/auth/signin/">LOGIN</a></li>
                                    <li><a href="register.html">REGISTER</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex d-lg-none">
                            <div class="mobile-menu">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

            <div class="contact-section section pt-30 pt-lg-10 pt-md-10 pt-sm-10 pt-xs-20 pb-xs-45 mt-30 mb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="contact-address-wrap">
                                <h2 class="text-light">Are you sure you want to unsubscribe ?</h2>
                                <div class="contact-address">
                                    <div class="contact-information">
                                        <h4 class="text-light">unsubscribe</h4>


                                        <div  class="text-light">
                                             <p>Why do you want to unsubscribe ? please provide us with your valuable opinion</p>
                                        </div>

                                       </div>


                                </div>


                            </div>
                            <form method="post" action="{% url 'unsubscribebtn' %}">{% csrf_token %}
                            <div class="col-md-6 col-12 mb-30">

                                <input value="Inappropriate emails" id="first" type="radio" name="unsubscribe">
                                <label for="first"> Inappropriate emails</label>
                             </div>
                              <div class="col-md-6 col-12 mb-30">

                                <input value="Inappropriate posts" id="second" type="radio" name="unsubscribe">
                                     <label for="second"> Inappropriate posts </label>
                             </div>
                                <div class="col-md-6 col-12 mb-30">

                                <input value="other" id="third" type="radio" name="unsubscribe">
                               <label for="third"> other </label>
                             </div>

                                  <div class="col-md-6 col-12 mb-30">
                                    <textarea  style="display:none;" id="messagearea" name="messagearea" placeholder="Message" ></textarea>
                                  </div>
  <button id="unsubscribebtn" style="display:none;" type="submit" class="btn btn-danger mb-40">Submit</button>
                                </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>

    <footer class="footer-section style-2 section" style="background-color: #ff2828">
        <div class="footer-top section pt-80 pb-80">
            <div class="container container-1520">
                <div class="row justify-content-lg-between">
                    <div class="col-xl-3 col-lg-2 col-md-3">
                        <div class="footer-widget">
                            <div class="footer-logo">
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-9">
                        <div class="footer-widget">
                            <div class="footer-nav">
                                <nav>
                                    <ul>
                                      <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                      <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                      <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                      <li><a href="#"><i class="icofont-youtube-play"></i></a></li>

                                    </ul>
                                </nav><br>
                                <div class="text-center text-light extra">
                                  <a href="Privacy.html">Privacy Policy</a> &nbsp;|&nbsp; <a href="Terms.html">Terms of Use </a> &nbsp;|&nbsp; <a href="#">About us </a>
                                </div>
                                <div class="copyright text-center text-muted">
                                    Â© 2021 AIMARENA. All Rights Reserved
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-12">
                        <div class="footer-widget">
                            <div class="footer-social">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </footer>

     <script src="{% static 'js/gamejs/vendor/jquery-1.12.4.min.js' %}"></script>
     <script src="{% static 'js/gamejs/popper.min.js' %}"></script>
     <script src="{% static 'js/gamejs/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/gamejs/plugins.js' %}"></script>
     <script src="{% static 'js/gamejs/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
       $("input[type='radio']").change(function(){
            selected_value = $("input[name='unsubscribe']:checked").val();
                    $("#unsubscribebtn").fadeIn();
            if(selected_value == "other"){
            $("#messagearea").fadeIn();

            }else {
             $("#messagearea").fadeOut();


            }
            console.log(selected_value);
        });




 </script>

</html>
